*.pyc
output/*
less/npm-debug.log
localsettings.py
.Python
bin/
include/
lib/
lib64/
node_modules*
*.wpr
*.wpu
.cache
*.sublime-project
*.sublime-workspace
*.egg-info
.pytest_cache
yarn.lock
__pycache__
env
dist
etc

.vscode
pyvenv.cfg
